<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All/Books</title>
</head>
<body>
    <div id = 'books'>
        <h3>All the Books</h3>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>desc</th>
                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                <tr>
                    <td>{{book.id}}</td>
                    <td>{{book.title}}</td>
                    <td><a href="/books/{{ book.id }}">View</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h3>Add a Book</h3>
        <form action="/books/create" method="POST">
            {% csrf_token %}
            <label>Title<input type = "text" name = "title"></label>
            <label>Desc<input type = "text" name = "desc"></label>
            <button type="submit">Submit</button> 
        </form>
    </div> 
</body>
</html>