<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books/Authors</title>
</head>
<body>
    <h3>Author List</h3>
    <ul>
        {% for author in authors %}
        <li>{{author.first_name}} {{author.last_name}}
            <ul>
                {% for book in author.books.all %}
                    <li><em>{{book.title}}</em></li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
    
</body>
</html>